#gpt-ads-targeting .inline .form-item {
  float: left;
  margin-left: 1.5em;
  padding-top: 0;
}
#gpt-ads-targeting .form-type-checkbox {
  margin-top: 1.5em;
}

#edit-gpt-ads-targeting-label {
  margin-bottom: 0;
  padding-bottom: 0;
}

#edit-gpt-ads-targeting-eval-desc {
  padding-top: 0;
  margin-left: 1.5em;
}

#edit-gpt-ads-targeting-add {
  margin-left: 1.5em;
}
