#gpt-targeting .inline .form-item {
  float: left;
  margin-right: 1.5em;
  padding-top: 0;
}
#gpt-targeting .form-type-checkbox {
  margin-top: 1.5em;
}

.gpt-targeting-label {
  margin-bottom: 0;
  padding-bottom: 0;
}
